* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* Reusable CSS */

section {
  width: 1280px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 300px;
}

.container {
  width: 968px;
  margin: 0 auto;
  padding: 4.5rem 0;
}

.btn {
  font-family: "Oswald", sans-serif;
  background: #931f1d;
  text-decoration: none;
  padding: 0.6rem 2.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  color: #fff;

  transition: 0.5s;
}

.btn:hover {
  background: #010400;
}

.heading_first {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 4rem;
}

.heading_second {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  text-align: left;
}

.highlight {
  color: #931f1d;
  font-family: "Lobster", cursive;
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin: 0;
  padding-bottom: 1rem;
}

/* Home Section */

.home_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_texts {
  width: 65%;
}

.home_heading {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

.home_heading h1 {
  margin: 0;
}

.home_description {
  width: 60%;
  margin: 2rem 0;
}

.home_image {
  width: 35%;
}

.home_image img {
  width: 100%;
}

.scroll_text {
  font-family: "Poppins", sans-serif;
  display: block;
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #04030f;
  text-decoration: none;
}

/* Mission Section */

.mission_items {
  display: flex;
  gap: 2rem;
}

.mission_item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 360px;
  height: 370px;
  padding: 0.5rem 2rem;
  border-radius: 25px;
}

.mission_section img {
  width: 40%;
}

.mission {
  background: rgb(96, 26, 61, 0.2);
}
.vision {
  background: rgb(4, 113, 77, 0.2);
}
.goals {
  background: rgb(247, 92, 3, 0.2);
}

/* About Section */

.about_section {
  background: url("images/shapes/shape-1.png");
  background-position: 10px 200px;
  background-repeat: no-repeat;
  background-size: 300px;
}

.about {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.about_image {
  width: 40%;
}
.about_image img {
  width: 95%;
}

.about_text {
  width: 50%;
}

.about_description {
  margin: 2rem 0;
}

.about_first {
  margin-bottom: 7rem;
}

/* Skills Section */

.skill_section {
  background: url("images/shapes/shape-5.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: right top;
}

.skill_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skill {
  display: flex;
  gap: 2.5rem;
}

.skill_second {
  align-self: center;
  gap: 3.7rem;
  margin-left: 5rem;
}

.skill_text {
  width: 35%;
}

.skill_box {
  width: 300px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 2px 2px 16px 5px #ff00004a;
  color: #fff;
}

.skill_box.html {
  margin-left: 190px;
  background: #da4167;
  box-shadow: 2px 2px 16px 5px rgba(217, 63, 102, 0.3);
}

.skill_box.css {
  margin-top: -60px;
  background: #fabc2a;
  box-shadow: 2px 2px 16px 5px rgba(250, 188, 42, 0.3);
}

.skill_box.javascript {
  background: #06ba63;
  box-shadow: 2px 2px 16px 5px rgba(6, 186, 99, 0.3);
}

.skill_box img {
  width: 60px;
  margin-left: -10px;
}

/* Footer Section */

.footer_section {
  background: #04030f;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_heading {
  font-family: "Oswald", sans-serif;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.footer_description {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 200;
  color: white;
  text-align: center;
}

.footer_description span {
  font-weight: 500;
}
